<!--Section: Products v.2-->
<section class="text-center pb-3 my-5">
    <ngx-loading [show]="loading"
    ></ngx-loading>
    <div class="row">
      <div class="align" *ngFor="let product of productList; let i = index">
        <div class="product-card" class="card-ecommerce">

          <div class="product-tumb">
            <img [src]="urllist[i]" alt=""  />
          </div>
          <div class="product-details">
            <a [routerLink]="['/products/product', product._id]">
              <span class="product-catagory">{{ product.productCategory }}</span>
              <h4>
                <a href="">{{ product.productName }}</a>
              </h4>
              <p>{{ product.productDescription }}</p>
            </a>
            <div class="product-bottom-details">
              <div class="product-price">
                <small>${{ product.productPrice }}</small
                >$ {{ product.productPrice * 0.75 }}
              </div>
              <div class="product-links">
                <a><i class="fa fa-heart"></i></a>
                <a (click)="addToCart(product)"
                  ><i class="fa fa-shopping-cart"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Products v.2-->
