

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.step {
  width: 100%;
}
.step__title {
  position: relative;
  background-color: #43c6ac;
  height: 40px;
  width: 90%;
  display: grid;
  place-items: center;
  color: #fff;
  font-family: sans-serif;
}
.step__title:before,
.step__title:after {
  content: "";
  position: absolute;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.step__title:before {
  border-left: 20px solid #fff;
  left: 0;
}
.step__title:after {
  border-left: 20px solid #43c6ac;
  right: -20px;
}
//
.step__title2 {
  position: relative;
  background-color:rgb(197, 190, 190);
  height: 40px;
  width: 90%;
  display: grid;
  place-items: center;
  color: #fff;
  font-family: sans-serif;
}
.step__title2:before,
.step__title2:after {
  content: "";
  position: absolute;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.step__title2:before {
  border-left: 20px solid #fff;
  left: 0;
}
.step__title2:after {
  border-left: 20px solid  rgb(197, 190, 190);
  right: -20px;
}

@media only screen and (max-width: 600px) {
  .step__title{
    padding: 0 15px;
    font-size: 12px;
  }
  .step__title2{
    padding: 0 15px;
    font-size: 12px;
  }
}
