<div class="container">
  <br>

    <div class="steps">
        <div class="step">
          <div class="step__title" >
              Shopping cart (Step 1 of 3)
          </div>

        </div>
        <div class="step">
          <div class="step__title"  >
              Delivery information (Step 2 of 3)
          </div>

        </div>
        <div class="step">
          <div class="step__title2">
              Payment method (Step 3 of 3)

          </div>

        </div>
      </div>



</div>
<app-shipping-details></app-shipping-details>
