

  <div class="row">
    <div class="col-md-6">
      <blockquote class="blockquote float-left bq-primary">
        <h3 class="bq-title">TOP CATEGORIES</h3>
      </blockquote>
    </div>
    <div class="col-md-6">
      <a class="btn btn-default float-right" [routerLink]="[ '/products/all-products' ]">VIEW ALL
       </a>
    </div>
  </div><!--Grid row-->

<div class="row">


    <!--Collection card-->
    <div class="col">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/pics/Novels.jpg" width="75%" alt="">
          <div class="overlay">
<br><br>
             <a class="info"[routerLink]="['/products/ctgProd','Novels']">NOVELS</a>
          </div>
      </div>
  </div>
    <!--Collection card-->



    <!--Collection card-->
    <div class="col">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/pics/textbooks.jpg" width="75%" alt="">
          <div class="overlay">
<br><br>
             <a class="info"[routerLink]="['/products/ctgProd','Text Books']">TEXT BOOKS</a>
          </div>
      </div>
  </div>
    <!--Collection card-->

  <!--Grid column-->


    <!--Collection card-->
    <div class="col">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/pics/competitive exam.jpeg" width="75%" alt="">
          <div class="overlay">
<br><br>
             <a class="info" [routerLink]="['/products/ctgProd','Competitive books']">COMPETITIVE BOOKS</a>
          </div>
      </div>
  </div>
    <!--Collection card-->


  <!--Grid column-->

    <!--Collection card-->
    <div class="col">
      <div class="hovereffect">
          <img class="img-responsive" src="assets/pics/stationary.jpg" width="75%" alt="">
          <div class="overlay">
<br><br>
             <a class="info" [routerLink]="['/products/ctgProd','Award winners']">AWARD WINNERS</a>
          </div>
      </div>
  </div>
    <!--Collection card-->




</div>
<!--Grid row-->
